body .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/dist/images/iris-proto2-bg.jpg");
    background-size: cover;
    z-index: -1;
}

.wrapper {
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6em;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(230, 230, 230, 0.85);
    box-shadow: 0 0 100px 30px rgba(0, 0, 0, 0.6);
}

.placeholder {
    top: 0;
    margin: auto;
    width: 1200px;
    height: 300px;
    margin-bottom: 30px;
}